{{ui}} <br>
{{tofixedNum | toFixedTwo:'$'}}

<div class="clearfix">

	<div class="menu-item item-QR">
		<div class="QR-box">
			<img src="images/test-img.jpg" />
			<p>我的店铺二维码</p>
		</div>
		<div class="dowanload-QR clearfix">
			<span class="normal-d">下载普通二维码</span>
			<span class="print-d">下载印刷二维码</span>
		</div>
	</div>

</div>




<p><input ng-model="name"> </p>
<p><textarea ng-model="html"></textarea></p>

<div compile="name"></div>
<div compile="html"></div>

<expander class="expander" expander-title="obj.title">
	{{obj.text}}
</expander>

<div ng-click="liger()">按钮</div>

<!-- 新增分润规则弹框-->
<div id='capacityFenRun' style="display: none;">
	bbbbbbbbbb
    <div class="commenBtn_Box">
        <a ng-click="savePayPlan()"  class="btn btn-guide btn1">确认</a>
        <a ng-click="closePay()" class="btn btn-normal hui">取消</a>
    </div>
</div>
<!-- 新增分润规则弹框end-->
<clickable foo="foo" bar="bar"></clickable>

<input ng-model="name">
{{update}}

<img src="images/timg.jpg">

<div ng-class="{true: 'red'}[isUI]">ng-class demo</div>

<form name="form">
	<input type="number" ng-model="num" ng-init="num=0" ng-required="true">
	<textarea ng-disabled="disabled"></textarea>
	<input type="button" value="test" ng-click="valiFn()">
</form>