// custom mixin
@mixin font-14(){
	font-size: 14px;
}

@mixin full-img(){
	img{
		max-width: 100%;
	}
}

@mixin line-height($height: 50px){
	height: $height;
	line-height: $height;
    text-align: center;
}