@import "normalize", "variable", "mixin";

body{
	// font-family: $font-family;
}
#wrapper {
	position: absolute;
	z-index: 0;
	top: 0;
	bottom: 0px;
	left: 0;
	width: 100%;
	overflow: hidden;
    background: #ffaa15;
}

header{
	position: absolute;
	top: 0;
	width: $full-screen;
}

// >> top-btn
.top-btn{
    width: 25%;
	display: block;
	position: absolute;
	top: 12px;
    @include full-img();
}

#how-btn{
	left: 2%;
}

#rule-btn{
	right: 2%;
}


.circle-infinite {
    -webkit-animation: tbtn .2s linear;
    -o-animation: tbtn .2s linear;
    animation: tbtn .2s linear
}

@-webkit-keyframes tbtn {
    0% {
        // opacity: 1;
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        transform: translateY(-15px)
    }
    100% {
        // opacity: 0;
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -o-transform: translateY(30px);
        transform: translateY(30px)
    }
}

@keyframes tbtn {
    0% {
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        transform: translateY(-15px)
    }
    100% {
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -o-transform: translateY(30px);
        transform: translateY(30px)
    }
}
// >> top-btn

// >> dialog
.rulebox,.howbox,.rankingbox {
	display: none;

	h2 {
		font-size: 0.45rem;
		margin: 0 0 20px 0;
		color: #ff9000;
		text-align: center;
	}
	p {
		font-size: 0.25rem;
		line-height: 20px;
		margin: 10px 0;
	}
}
.rulecon,.howcon,.rankingcon{
		font-size: 14px;
        padding: 20px 20px 50px 20px;
		overflow-x: hidden;

        h2{
            font-size: 20px;
            text-align: center;
            margin-bottom: 30px;
        }
        ul{
            padding: 0 0 0 20px;
        }
        .note{
            font-size: 12px;
            text-align: center;
            color: #af6f00;
        }
}

#rulebox, #howbox, #rankingbox{
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 90%;
  overflow: hidden;
  padding:15px 4%;
}

#rankingbox{
    bottom: 10px;
}
.rankingcon{
    padding: 20px 0;

    dl{
        overflow: hidden;
        @include full-img();
        margin: 0;

        dt.rank-num{
            width: 10%;
            float: left;
            @include line-height(40px);
            padding: 10px 0;
            border-bottom: 1px solid #e48b2d;

            &:nth-child(1),&:nth-child(4),&:nth-child(7){
                background: url(../images/top-icon.png) no-repeat center 12px;
                background-size: 100% auto;
                color: #666
            }
        }
        dd{
            margin: 0;
            height: 40px;
            float: left;
            padding: 10px 0;
            border-bottom: 1px solid #e48b2d;
        }
        dd.rank-info{
            width: 55%;

            .rank-head{
                width: 40px;
                height: 40px;
                float: left;
                margin: 0 0 0 20px;
            }
            .rank-name{
                @include line-height(40px);
                width:100px;
                float: left;

                p{
                    margin: 0;
                    width:100px;
                    text-align: left;
                    padding: 0 0 0 10px;
                    white-space:nowrap;
                    text-overflow:ellipsis;
                    -o-text-overflow:ellipsis;
                    -moz-binding:url('ellipsis.xml#ellipsis');
                    overflow:hidden;
                }
            }
        }
        dd.total-score{
            width: 35%;
            font-size: 12px;
            @include line-height(40px);

            span{
                color: #f00;
            }
        }
    }
}
// >> dialog

#pullUp {    
    @include line-height(60px);
    padding: 5px 10px;
    font-weight: bold;    
    font-size: 14px;
    color: #333;

    .pullUpLabel{
        @include line-height(30px);
    }
 //    .pullUpIcon {
	//     display: block;
	//     float: left;
	//     width: 40px;
	//     height: 40px;
	//     background: url(../images/pull-icon@2x.png) 0 0 no-repeat;
	//     -webkit-background-size: 40px 80px;
	//     background-size: 40px 80px;
	//     -webkit-transition-property: -webkit-transform;
	//     -webkit-transition-duration: 250ms;
 //    	-webkit-transform: rotate(-180deg) translateZ(0);
	// }
}

// #pullUp.flip .pullUpIcon {
//     -webkit-transform: rotate(0deg) translateZ(0);
// }

// #pullUp.loading .pullUpIcon {
//     background-position: 0 100%;
//     -webkit-transform: rotate(0deg) translateZ(0);
//     -webkit-transition-duration: 0ms;
//     -webkit-animation-name: loading;
//     -webkit-animation-duration: 2s;
//     -webkit-animation-iteration-count: infinite;
//     -webkit-animation-timing-function: linear;
// }
    
// .-webkit-keyframes loading {
//     from {
//         -webkit-transform:rotate(0deg)translateZ(0);
//     }
//     .to {
//         -webkit-transform: rotate(360deg) translateZ(0);
//     }
// }

// >> score-con
.score-con{
    padding: 0 10px;
    background: url(../images/score-con-bg.jpg) #131313 no-repeat;
    background-size: 100% auto;
    overflow: hidden;
    color:#ff9000;

    @include full-img();
    .head-photo{
        width:80px;
        height:80px;
        background: url(../images/head-bg.png) no-repeat;
        background-size: 100% auto;
        margin: 80px auto 0 auto;
        padding: 20px;

        img{
            border-radius: 50%;
        }
    }
    h1{
        margin: 0;
        font-size: 24px;
        text-align: center;
    }
    p{
        margin: 5px;
    }
    .mm-count{
        font-size: 20px;
        text-align: center;
    }
    #ranking{
        font-size: 14px;
        text-align: center;
    }
    .prizebar-box{
        margin: 10px 0 20px 0;
    }
    .chance{
        font-size: 20px;
        text-align: center;
        margin: 10px 0 0 0;
        color: #b2b2b2;
    }

    .replay,.friend-btn,.button{
        width: 80%;
        margin: 15px auto;
        background: #ff9000;
        text-align: center;
        color: #fff;
        @include line-height();
        overflow: hidden;
        border-radius: 5px;
        font-size: 18px !important;
    }
    .friend-btn{
        margin-bottom: 25px;
    }
    .over{
        background: #a5a5a5;
    }
    .phone-num{
        display: block;
        width: 80%;
        @include line-height();
        border-radius: 5px;
        margin: 15px auto;
        border: none;
    }
    .tips{
        color: #b2b2b2;
        text-align: center;
        font-size: 12px;

        &:last-child{
            margin: 0 0 20px 0;
        }
    }
    .no-award{
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .gril-con{
        width: 40%;
        margin: 50px auto 30px auto;
    }
    .end-tips{
        margin: 0 0 30px 0;

        p{
            text-align: center;
            font-size: 20px;
            color: #b2b2b2;
        }
    }
    .success-con{
        width: 80%;
        margin: 50px auto 100px auto;

        .suc-top,.suc-btm{
            overflow: hidden;

            img{
                float: left;
            }
        }
        .suc-con{
            overflow: hidden;
            background: url(../images/success-con.png) repeat-y;
            background-size: 100% auto;
            padding: 0 30px;

            h2{
                color: #ff9000;
                text-align: center;
                margin: 10px 0;
                font-size: 24px;
                font-weight: normal;
            }
            h3{
                color: #666;
                text-align: center;
                margin: 20px 0 10px 0;
                font-size: 20px;
                font-weight: normal;
            }
            h4{
                color: #333;
                text-align: center;
                margin: 10px 0 30px 0;
                font-size: 16px;
                font-weight: normal;
            }
            .money{
                color: #333;
                font-size: 60px;
                text-align: center;

                span{
                    font-size: 12px;
                }
            }
            .tips{
                color: #333;
                font-weight: 600;
            }
        }
        .suc-button{
            width: 100%;
            margin: 15px auto;
            background: #ff9000;
            color: #fff;
            @include line-height();
            overflow: hidden;
            border-radius: 5px;
        }
        .share-btn{
            @include line-height();
            border: 2px solid #ff9000;
            border-radius: 5px;
            margin: 0 0 30px 0;
        }
        .share-dark{
            background: #ff9000;
            color: #fff;
            margin: 0;
        }
        .suc-dark{
            margin-bottom: 30px;
        }
    }
    .done-con{
        margin: 50px auto 180px auto !important;
    }
    .app-main-img{
        width: 80%;
        margin: 70px auto 30px auto;
    }
    .app-tips{
        margin: 50px 0 20px 0;
        color: #fff;
        text-align: center;
        font-size: 14px;
    }
    .app-share{
        margin-bottom: 50px;
    }
    .end-con{
        padding-bottom: 100px;
    }
}
// >> score-con

// >> container

.container{
    padding: 0 10px;
    h2{
        font-size: 18px;
    }
    dl{
        margin:20px 0 0 0;
        overflow: hidden;

        dt.friend-head{
            width:20%;
            height:60px;
            float: left;
            padding: 15px 0;
            border-bottom: 1px solid #e48b2d;

            img{
                width: 60px;
            }
        }
        dd{
            margin: 0;
            padding: 15px 0;
            border-bottom: 1px solid #e48b2d;
        }
        dd.friend-info{
            width: 50%;
            height: 60px;
            float: left;
            
            h3{
                margin:0;
                width:80%; 
                white-space:nowrap; 
                text-overflow:ellipsis; 
                -o-text-overflow:ellipsis; 
                -moz-binding:url('ellipsis.xml#ellipsis'); 
                overflow:hidden;
            }
            p{
                margin: 10px 0 0 0;
                span{
                    color: #f00;
                }
            }
        }
        dd.friend-date{
            width: 30%;
            height: 60px;
            float: left;
            font-size: 14px;
        }
    }
    .loadmore{
        @include line-height(60px);
    }
    .none-friend{
        width: 60%;
        margin: 30px auto 0 auto;
        overflow: hidden;
        padding: 0 0 20px 0;

        img{
            float: left;
            width: 40px;
        }
        p{
            margin: 3px 0 3px 10px;
            font-size: 14px;
            float: left;
            color: #af6f00;
        }

    }

}

// >> container

// iphone 4s
@media screen and (max-width: 320px) and (max-height: 480px){
    .score-con{
        .head-photo{
            margin-top: 60px;
        }
        .success-con{
            .suc-button{
                @include line-height(40px);
            }
            .share-btn{
                @include line-height(40px);
            }
        }
        .app-main-img{
            margin: 60px auto 10px auto;
        }
        .app-tips{
            margin: 10px 0 20px 0;
        }

    }

}

// iphone 5s
@media screen and (max-width:320px) and (min-height: 481px){
    .score-con{
        .head-photo{
            margin-top: 60px;
        }
    }
}

// 小屏
@media screen and (max-width: 320px){
    .container{
        dl{
            dd.friend-info{
                h3, p{
                    margin-left: 10px;
                }
            }
        }
    }
    .score-con{
        .end-tips{
            p{
                font-size: 16px;
            }
        }
        .success-con{
            width: 90%;
            margin: 20px auto 30px auto;
            .suc-con{
                h2{
                    font-size: 22px;
                }
                h3{
                    margin: 10px 0;
                }
            }
        }
        .done-con{
            margin: 50px auto 100px auto !important;
        }
        .end-con{
            padding-bottom: 20px;
        }
    }
}