$family: "Microsoft YaHei";
$b-color: #e4e4e4;
$violet: #a881ff;
$yellow: #ffd02d;
$pink: #ff8a73;
$gccc: #ccc;
$g333: #333;
$g666: #666;
$g999: #999;
$f-color: #333;
$bg-color: #58aef8;
$red: #ff4040;