<style type="text/css">
	.l-trigger, .l-trigger-hover, .l-trigger-pressed{background: none; height: 40px; line-height: 40px; border: none;}
	.l-text{height: 40px; line-height: 40px}
	.l-text-field{padding: 0;}
	.select-input{line-height: 38px; padding: 0 10px; font-family: "Microsoft Yahei";}
	.l-trigger-cancel .l-trigger-icon, .l-text-date .l-trigger-cancel .l-trigger-icon{background-position: 50% 50%}
	.l-box-select{border: none;}
	.l-tree .l-body span{font-family: "Microsoft Yahei";}
</style>
{{text}}
<p><a href="#/hello">哈喽页</a></p>

<select  name="mySle" id="mySle">
	<option value="{{item}}" ng-repeat="item in options" repeat-finish>{{item}}</option>
</select>

<select  name="mySle1" id="mySle1">
	<option value="{{item}}" ng-repeat="item in options" repeat-finish>{{item}}</option>
</select>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Angular $http</h3>
			<table style="text-align: left">
				<tr ng-repeat="item in customItems">
					<td>{{item.Name | titleCase}}</td>
					<td>{{item.City}}</td>
					<td>{{item.Country}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="select-tree" style="margin: 0 0 0 100px">
	<input type="text" id="selectTree" class="select-input" />
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>jQuery $.ajax</h3>
			<table style="text-align: left">
				<tr ng-repeat="item in ajaxItems">
					<td>{{item.Name | titleCase}}</td>
					<td>{{item.City}}</td>
					<td>{{item.Country}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>