.page {
    position:absolute;
    text-align:center;
    top:0;
    width:100%;
    min-height: 100%;
}
.page h1 {
    font-size:60px;
}
.page a {
    color: #fff;
}
.hello {
    background:#00D0BC;
    color:#FFFFFF;
}
.list{
    background:#E59400;
    color:#FFFFFF;
}
.select{
    background:#3385ff;
    color:#FFFFFF;
}
.selectBox-dropdown{
    color: #333 !important;
}
@keyframes rotateFall {
    0% {
        transform: rotateZ(0deg);
    }
    20% {
        transform: rotateZ(10deg);
        animation-timing-function: ease-out;
    }
    40% {
        transform: rotateZ(17deg);
    }
    60% {
        transform: rotateZ(16deg);
    }
    100% {
        transform: translateY(100%) rotateZ(17deg);
    }
}
@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}
@keyframes rotateOutNewspaper {
    to {
        transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}
@keyframes scaleUp {
    from {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}
@keyframes slideInRight {
    from {
        transform:translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slideInUp {
    from {
        transform:translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
.ng-enter {
    z-index: 8888;
}
.ng-leave {
    z-index: 9999;
}
.hello.ng-enter {
    animation: scaleUp 0.5s both ease-in;
}
.hello.ng-leave {
    transform-origin: 0% 0%;
    animation: rotateFall 1s both ease-in;
}
.list.ng-enter {
    animation:slideInRight 0.5s both ease-in;
}
.list.ng-leave {
    animation:slideOutLeft 0.5s both ease-in;
}

.scroll-table { width: 100%; margin: 30px 0 0 0; overflow: auto; font-size: 12px; color: #666;}
.s-table-con { position: relative; }
.b-bottom { border-bottom: 1px solid #d7d7d7; }
.gray-bg { background: #ebecf0; }
.p-two-bg { background: #d6e8f9; }
.p-thr-bg { background: #f9d6d6; }
.p-fou-bg { background: #d6f9dd; }
.p-fiv-bg { background: #f9f6d6; }
.s-table-con { *zoom: 1; }
.s-table-con:before, .s-table-con:after { display: table; content: ""; line-height: 0; }
.s-table-con:after { clear: both; }
.s-table-con .red { color: #f64545; }
.part-one, .part-two, .part-thr, .part-fou, .part-fiv { position: relative; width: 100%; float: left; }
.part-one { width: 810px; }
.part-two { width: 520px; }
.part-thr { width: 260px; }
.part-fou { width: 650px; }
.part-fiv { width: 260px; }
.part-one .t-row:nth-child(2n + 1){background: #fafafc}
.part-two .t-row:nth-child(2n + 1){background: #f3f9ff}
.part-thr .t-row:nth-child(2n + 1){background: #fff3f3}
.part-fou .t-row:nth-child(2n + 1){background: #f3fff5}
.part-fiv .t-row:nth-child(2n + 1){background: #fffff3}
.leftPing{ background: #fff }
.t-left { text-align: left !important }
.o-w { width: 190px; }
.t-w { width: 140px; }
.s-w { width: 90px; }
.i-w { width: 120px; }
.ou-w { width: 120px; }
.p-w { width: 70px; }

.n-w { width: 110px; }
.thead{width: 100%;}
.thead .h-row { height: 45px; line-height: 45px; text-align: center; *zoom: 1; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgba(0, 0, 0, 0.1); position: relative; }
.thead .h-row:before, .thead .h-row:after { display: table; content: ""; line-height: 0 }
.thead .h-row:after { clear: both }
.thead .h-row:last-child { border: none; }
.thead .h-row .tit-col { text-align: center; font-weight: bold; }
.thead .h-row .h-col { font-weight: bold; float: left; padding: 0 10px; }
.thead .o-w.t-left { background: #ebecf0; z-index: 3;}
.thead .h-row:first-child .ltPing{height: 44px;}
.tbody .t-row { *zoom: 1; font-size: 12px; background: #fff;}
.tbody .t-row:before, .tbody .t-row:after { display: table; content: ""; line-height: 0; }
.tbody .t-row:after { clear: both; }
.tbody .t-row .t-col { height: 60px; display: table; float: left; padding: 0 10px; }
.tbody .t-row .t-col > span { display: table-cell; vertical-align: middle; text-align: center; }

/*ui*/
.expander {
    border: 1px solid black;
    margin: 1px;
    width: 250px;
}

.expander > .title {
    background-color: black;
    color: white;
    padding: .1em .3em;
    cursor: pointer;
}

.expander > .body {
    background: #666;
    padding: .1em .3em;
}

/* editor */
#preview{
    
}