<div class="content">
	<div class="top-tab">
		<ul>
			<li ui-sref="memberSet" ui-sref-opts="{reload: true}">会员卡设置</li>
			<li ui-sref="memberLevelSet" ui-sref-opts="{reload: true}">等级设置</li>
			<li class="active" ui-sref="memberIntegralSet" ui-sref-opts="{reload: true}">积分设置</li>
		</ul>
	</div>

	<section class="row">
		<section class="col-md-12">
			<section class="top-tit f16">积分获取规则</section>
			<section class="main-box">
				<div class="lev-tit">积分获取规则</div>
				<div class="lev-raido">
					<span class="g666">每消费</span>
					<input type="text" class="int-input" ng-model="card_setting_score.getrules.usemoney"/>
					<span class="g666">元，获得</span>
					<input type="text" class="int-input" ng-model="card_setting_score.getrules.getscore"/>
					<span class="g666">分</span>
				</div>

				<div class="lev-tit">积分有效期</div>
				<div class="lev-raido">
					<label><input type="checkbox" ng-model="validity">永久有效</label>
				</div>
			</section>
		</section>
	</section>

	<section class="row">
		<section class="col-md-12">
			<section class="top-tit f16">积分使用规则</section>
			<section class="main-box">
				<div class="lev-tit">积分使用规则</div>
				<div class="lev-raido">
					<input type="text" class="int-input" ng-model="card_setting_score.userules.usescore"/>
					<span class="g666">积分 ＝ </span>
					<input type="text" class="int-input" ng-model="card_setting_score.userules.getmoney"/>
					<span class="g666">元</span>
				</div>
			</section>
		</section>
	</section>

	<section class="btn-line">
		<div class="cbtn cbtn-blue" ng-click="saveFn()">保存</div>
	</section>

</div>