body{ background:fff; font-family:Arial, "Microsoft YaHei", sans-serif; font-weight:normal; color:#333333; font-size:14px;}
body, ul, li, h1, h2, p { margin:0; padding:0;}
a { background-color:transparent; text-decoration:none; color:#333333; }
a:focus { outline:0; }
a:hover { outline:0; text-decoration:none;}
button,input { outline:none; font-family:Arial, "Microsoft YaHei", sans-serif; font-size:14px;}
input[type=submit],button{ filter:chroma(color=#000000);}
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0;  }
textarea { resize:none; outline:none; overflow:auto; vertical-align:top; }
table { border-collapse:collapse; border-spacing:0; }
select { cursor:pointer;}
input::-ms-clear{display:none;}
ul,li{ list-style:none;}
.hide { display:none !important;}
.mr15 { margin:15px;}
.abs { position:absolute;}
.red { color:red!important;}
.alc { text-align:center!important;}
.alr { text-align:right!important;}
.dpb { display:block!important;}
.aul a:hover { text-decoration:underline!important; color:red;}
.brk { white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.clr { clear:both;width:100%;font-size:1px;height:1px;line-height:1px;}
.r1 { -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.r2 { -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.r2t { -moz-border-radius:3px 3px 0 0; -khtml-border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0; border-radius:3px 3px 0 0;}
.r2b { -moz-border-radius:0 0 3px 3px; -khtml-border-radius:0 0 3px 3px; -webkit-border-radius:0 0 3px 3px; border-radius:0 0 3px 3px;}
.pr{ position:relative;}
.fl { float:left;}
.fr { float:right;}
.nosel {-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none;}

.input { display:inline-block; padding:3px 6px; font-size:14px; line-height:120%; height:20px; color:#555555; vertical-align:middle; background-color:#ffffff; border:1px solid #cccccc; border-radius:0; -webkit-appearance:none; -webkit-transition:border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}
.input.mgn{ margin-top: 3px; display:inline-block; padding:0px 6px 3px; font-size:14px; line-height:120%; height:20px; color:#555555; vertical-align:middle; background-color:#ffffff; border:1px solid #cccccc; border-radius:0; -webkit-appearance:none; -webkit-transition:border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}
.input:focus { background-color:#fafffe; border-color:#3bb4f2; outline:0; -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(59, 180, 242, 0.3); box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(59, 180, 242, 0.3);}
.input::-webkit-input-placeholder{ color:#999999;}
.input::-moz-placeholder { color:#999999;}
.input:-ms-input-placeholder { color:#999999;}
.input::placeholder { color:#999999;}
.input::-moz-placeholder { opacity:1;}
.input.error { border-color:#dd514c !important; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}
.input.error:focus { background-color:#fafffe; border-color:#cf2d27; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px #eda4a2 !important; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px #eda4a2 !important;}
.input.success { border-color:#5eb95e !important; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}
.input.success:focus { background-color:#fafffe; border-color:#459f45; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px #a5d8a5 !important; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px #a5d8a5 !important;  }
.input.dd { background-image:url(dd.gif); background-repeat:no-repeat; background-position:right center;}
.input[disabled] { background-color:#efefef;}

.btn {
    display:inline-block;
    margin:0;
    padding:4px 8px;
    font-size:14px;
    line-height:120%;
    text-align:center;
    white-space:nowrap;
    border:1px solid transparent;
    border-radius:3px;
    cursor:pointer;
    outline:0;
    -webkit-appearance:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-transition:background-color 300ms ease-out, border-color 300ms ease-out;
    transition:background-color 300ms ease-out, border-color 300ms ease-out;
    *overflow:visible;
}
.btn-big { padding:8px 20px!important; font-size:16px!important;;}
.btn-default { color:#444444; background-color:#e6e6e6; border-color:#e6e6e6;}
.btn-default:hover { background-color:#c7c7c7; border-color:#c7c7c7;}
.btn-primary { color:#ffffff; background-color:#0e90d2; border-color:#0e90d2;}
.btn-primary:hover { background-color:#0a6999; border-color:#0a6999;}
.btn-secondary { color:#ffffff; background-color:#3bb4f2; border-color:#3bb4f2;}
.btn-secondary:hover { background-color:#0f9ae0; border-color:#0f9ae0;}
.btn-red { color:#ffffff; background-color:#dd514c; border-color:#dd514c;}
.btn-red:hover { background-color:#c62b26; border-color:#c62b26;}
.btn-green { color:#ffffff; background-color:#5eb95e; border-color:#5eb95e;}
.btn-green:hover { background-color:#429842; border-color:#429842;}
// .msg { position:absolute; z-index:1000; left:3px; top:3px; }
.msg { position:fixed; z-index:1000; left:50%; top:50%; }
.msg a.fa { position:absolute; right:10px; opacity: 0.6; cursor:pointer; }
.msg a.fa:hover { opacity:1;}
.msg-body { position:relative;  padding:10px 30px 10px 10px;}
.msg-alert { color:#ffffff; background-color:#dd514c; border-color:#d83832; }
.msg-success { color:#ffffff; background-color:#5eb95e; border-color:#4bad4b; }
.msg-fade { opacity:0; -webkit-transition: opacity .5s linear; transition: opacity .5s linear;}

#header { height:55px; background:#0e83b9 no-repeat 10px 10px;}
#header .logo { width:150px; font-size:24px; line-height:55px; color:#deeaf2; padding-left:10px;}
#header .menu { height:55px; position:relative;}
#header .menu a { color:#deeaf2; line-height:20px; font-size:16px; display:inline-block; height:50px; padding:5px 16px 0 16px; text-align:center; cursor:pointer;}
#header .menu a.focus { background-color:#0d608c;}
#header .menu a:hover { background-color:#0372a5;}
#header .menu i { font-size:150%;}
#header .fr { margin-right:10px; position:relative;}
#header .info { margin-top:30px;}
#header .info a { color:#deeaf2; margin-left:10px; font-size:12px;}

#leftmenu { background:url(leftmenu.jpg) repeat-y right; width:160px;}
#leftmenu .block { display:none;}
#leftmenu .h2 { font-size:15px; height:40px; line-height:40px; margin:0 10px; color:#333;}
#leftmenu .ul1 { border-top:solid 1px #fff;}
#leftmenu .li1 { border-bottom:solid 1px #edfaff;}
#leftmenu .li1 div { padding-left:20px;}
#leftmenu .li_ext { }
#leftmenu .li_ext a { padding-left:15px;}
#leftmenu li.focus {background-color:#0e83b9;}
#leftmenu li.focus a{color:#fff;}
#leftmenu a { display:block; line-height:35px; color:#000; font-size:14px; border-bottom:solid 1px #d6e3eb;}
#leftmenu a.focus { background-color:#0e83b9; color:#fff;}
#leftmenu a:hover { background-color:#74b7d6;}
#leftmenu .nav21 { background:url(nav21.gif) no-repeat right center; }
#leftmenu .nav31 { background:url(nav31.gif) no-repeat right center; }
#leftmenu .nav32 { background:url(nav32.gif) no-repeat right center; }
#leftmenu .focus .nav21 { background:url(nav22.gif) no-repeat right center; }

.tab { height:28px; position:relative;}
.tab ul.items { position:absolute;}
.tab li { float:left; background-color:#fff; height:23px; line-height:23px; font-size:14px; margin-left:8px; white-space:nowrap; padding:2px 8px; cursor:pointer; border:solid 1px #dedede; border-bottom:0;}
.tab li.focus { background-color:#e6f0f9; height:24px; border:solid 1px #d3d3d3; border-bottom:solid 1px #e6f0f9;}
.tab-line { border-top:solid 1px #d3d3d3; border-bottom:solid 1px #d3d3d3; background-color:#e6f0f9; height:2px; font-size:1px; line-height:1px;}

.tab1 { height:28px; position:relative;}
.tab1 ul.items { position:absolute;}
.tab1 li { float:left; background-color:#fff; height:23px; line-height:23px; font-size:14px; margin-left:8px; white-space:nowrap; padding:2px 8px; cursor:pointer; border:solid 1px #dedede; border-bottom:0;}
.tab1 li.focus { background-color:#e6f0f9; height:24px; border:solid 1px #d3d3d3; border-bottom:solid 1px #e6f0f9;}
.tab1-line { border-top:solid 1px #d3d3d3; border-bottom:solid 1px #d3d3d3; background-color:#e6f0f9; height:2px; font-size:1px; line-height:1px;}

.navtxt { background:#e6f0f9; height:38px; padding-right:8px; border-left:solid 1px #d3d3d3; border-right:solid 1px #d3d3d3; border-top:solid 1px #d3d3d3; }
.navtxt div.txt { white-space:nowrap; font-size:14px; height:37px; line-height:37px; padding:0 18px 0 10px; color:#0a7cb0;}
.navtxt div.fr { margin-top:5px;}
.navtxt div.fr .btn { float:right; margin-right:5px;}
.showtxt { border:solid 1px #dfe0e1; padding:20px; position:relative;}
.rmktxt { border:solid 1px #dfe0e1; padding:5px; background-color:#efefef; margin-top:5px;}

.list1 { border:solid 1px #d3d3d3; color:#000;border-collapse:collapse;}
.list1 th { padding:8px 5px; background-color:#f6fbfe; border:solid 1px #d3d3d3; text-align:left; font-weight:normal;}
.list1 td { padding:8px 5px; background-color:#ffffff; border-bottom:solid 1px #d3d3d3;border-right:solid 1px #d3d3d3; }
.list1 tr:hover>td { background-color:#ffd;}
.list1 tr.ext>td { background-color:#fff!important;}
.list1 td.focus { background-color:lightyellow;}
.list1 td.ext { border-right:0;background-color:#fff!important;}
.list1 td.fff { background-color:#fff!important;}
.list1 .center{ text-align:center;}
.list1 .point { cursor:pointer;}
.list1 .ipt01 div { position:relative; margin-top:-1px;}
.list1 .ipt01 label { margin-left:-18px; line-height:120%; color:gray;}
.list1.inner { border:0;}
.list1.inner th { border-top:0; border-left:0;}
.list1.graybg th { background-color:#efefef; }
.nolist td { padding:4px!important; border:0!important;background-color:#fff!important; }

.form1 li.row { padding:8px 0 8px 105px; display:block; }
.form1 li.row div span {font-size:14px; font-weight:bold; text-align:right;overflow: hidden;}
.form1 li.row>span { position:absolute; font-size:14px; font-weight:bold; text-align:right; margin-left:-105px; display:block; width:90px;}
.form1 li.row>label { display:inline-block;}
.form1 input[type=checkbox], .form1 input[type=radio] { width:16px; height:16px;}
.form1 .input { padding:6px 8px!important;}
.form1 .cell { margin-bottom:2px; position:relative;}
.form1 .cell i { position:absolute; display:block; top:1px; left:1px; background-color:#e6e6e6; width:70px; height:32px; padding-left:8px; line-height:32px; font-style:normal;}
.form1 .cell input { padding-left:85px!important;}

.form2 { border-left:solid 1px #dfe0e1; border-bottom:solid 1px #dfe0e1;border-collapse: collapse;}
.form2 th.cell { padding:8px; border-top:solid 1px #dfe0e1; border-right:solid 1px #dfe0e1; background-color:#f2f2f2!important; text-align:left; font-weight:normal; width:120px;}
.form2 td.cell { padding:8px; border-top:solid 1px #dfe0e1;border-right:solid 1px #dfe0e1; background-color:#fff!important;}
.form2 th.cell50 { width:50px!important;}
.form2 th.cell60 { width:50px!important;}
.form2 th.cell70 { width:70px!important;}
.form2 th.cell80 { width:80px!important;}
.form2.inner { border:0;}
.form2.inner th.cell { border-left:0;}
.form2.inner td.cell { border-right:0;}

.group_input { position:relative;}
.group_input .name { position:absolute; display:block; top:1px; left:1px; background-color:#e6e6e6; width:70px; height:27px; line-height:27px; padding-left:8px; font-style:normal;}
.group_input .name ~ .input { padding-left:85px!important;}
.group_input .check { /*margin-top: 3px; */position:absolute;display:block; top:1px; left:1px; background-color:#e6e6e6; width:18px; height:32px; line-height:32px; font-size:110%; padding-left:5px; cursor:pointer;}
.group_input .check ~ .input { padding-left:30px!important;}
.group_input .note { position:absolute; display:block; top:1px; right:5px; line-height:27px; color:gray;}
.group_input .name .check { position:static; display:inline-block; height:31px!important;line-height:31px!important; margin-left:-5px;}
.form1 .group_input .name { height:32px;line-height:32px;}
.form1 .group_input .note { line-height:32px;}

#dropdown { border:solid 1px #999;position:absolute;padding:0!important;background-color:#fff!important;overflow:auto;left:0;z-index:9999;}
#dropdown a.opt{ height: 20px;display:block; padding:8px 5px; border-bottom:solid 1px #d3d3d3; cursor:pointer;}
#dropdown a.opt:hover { background-color:#ffd;}
#dropdown a.blc { display:block; cursor:pointer; width:20px; height:20px; margin:5px; float:left;}
#dropdown a.rgn { display:block; cursor:pointer; width:70px; height:20px; margin:5px; float:left;}
#dropdown a.time { display:block; cursor:pointer; width:40px; height:20px; margin:5px; float:left;}
#dropdown a.list { display:block; cursor:pointer; height:20px; margin:5px; float:left;}
#dropdown div.blc { height:20px; margin:5px; float:left; }
#pager { background-color:#fafafa; height:45px; border-left:solid 1px #d3d3d3; border-right:solid 1px #d3d3d3; border-bottom:solid 1px #d3d3d3; position:relative; }
#pager.inner {  border-right:0; border-left:0; margin-bottom:-1px;}
.pager { height:30px; float: right; margin:8px 10px 0 0;}
.pager a { display:block; height:25px; line-height:25px; padding:0 9px; border:solid 1px #dddddd; margin-right:-1px; background-color:#fff; float:left;}
.pager a.focus { background-color:#267fbd; border:solid 1px #1e6392; margin-right:0; color:#fff;}
.pager li { float:left;}

.imgbox a,.attbox a { display:none; position:absolute; background-color:#D3310F; font-weight:bold; width:16px; height:16px; padding:0; margin:0; line-height:16px; text-align:center; cursor:pointer; }
.imgbox div,.attbox div { margin-bottom:3px; border:1px solid; -moz-box-shadow:0 1px #e7e7e7; -webkit-box-shadow:0 1px #e7e7e7; border-color:#CCC #BBB #AAA;}
.imgbox div.loading,.attbox div.loading { width:20px; height:20px; background:url(loading.gif) no-repeat center; border:0;}
.imgbox div{ float:left; margin-right:10px;}
.imgbox div.loading { position:absolute;}
.imgbox img { height:70px; cursor:pointer;}
.attbox div { height:22px; line-height:22px; width:650px;}
.attbox div.loading { float:left;}

.login { padding-top:10px;}
.login .fix { width:420px; margin:100px auto; padding:20px 50px; border:solid 1px #ddd;}
.login .group { padding:8px;}
.login .group h3 { margin:0; padding:5px 0;}
.login .input { padding:6px 10px;}
.login .foot { border-top:1px solid #ccc;}
.login .foot p { color:#888; margin:5px; text-align:center;}

.blockUI { position:fixed; top:0; right:0; bottom:0; left:0; display:block; width:100%; height:100%; background-color:rgba(0,0,0,.6); z-index:1100; opacity:1;}
.popup { position:absolute; display:block; z-index:1111; width:100%; top:30%;}
.popup .wrap { width:360px; background-color:#fff; margin:0 auto; position:relative;}
.popup .head { height:35px; line-height:34px; background-color:#0a6999; color:#fff; padding-left:8px; position:relative;}
.popup .txt { padding:20px 30px; text-align:left; word-wrap: break-word;}
.popup .btns { width:100%; padding:0 0 15px 0; text-align:center;}
.popup .fa-close { color:#fff; position:absolute; top:8px; right:10px; font-size:120%; cursor:pointer; opacity:0.8;}
.popup .fa-close:hover { color:red;-moz-transform:scale(-1,1);}
.popup .fa-warning { color:#c62b26; margin-right:8px;}
.popup .fa-info-circle { color:#429842; margin-right:8px;}
.popup .fa-question-circle { color:#f37b1d; margin-right:8px;}

.uploader-imgs div { float:left; margin-right:8px; position:relative;}
.uploader-imgs img { border:solid 1px #ccc; height:100px; width:auto;}
.uploader-imgs p { position:absolute; font-size:14px; top:1px; right:1px; margin:0; padding:3px 5px; background-color:#3bb4f2; color:#fff;}
.uploader-imgs a { position:absolute; font-size:17px; top:1px; right:1px; margin:0; padding:0 5px; background-color:#3bb4f2; color:#fff;cursor:pointer;}
.uploader-atts div { margin:0 0 8px 0; position:relative;}
.uploader-atts label { line-height:120%;}
.uploader-atts p { position:absolute; font-size:14px; top:1px; left:1px; margin:0; padding:3px 5px; background-color:#3bb4f2; color:#fff;}
.uploader-atts a { font-size:17px; margin:0 8px 0 0; padding:0 5px; background-color:#e6e6e6; color:red;cursor:pointer;}
.uploader-btn { clear:both;}

.tree { line-height:22px;}
.tree label { display:block; padding-left:20px; background-repeat:no-repeat; background-position:left center; cursor:pointer;}
.tree li { background-repeat:no-repeat; background-position:left center;}
.tree .n_father>label { background-image:url(tree/minus.gif);}
.tree .n_father li { background-image:url(tree/line.gif); padding-left:18px;}
.tree .n_child>label { background-image:url(tree/join.gif);}
.tree .n_child.n_last>label { background-image:url(tree/joinbottom.gif);}
.tree .n_father.n_last>label { background-image:url(tree/minusbottom.gif);}
.tree .n_father.n_last li { background-image:url(tree/empty.gif);}
.tree .focus { font-weight:bold; color:#0a7cb0;}

.context { position:absolute; display:none; z-index:999;}
.context ul { width:110px; border:solid 1px #999; background-color:#fff!important;z-index:9999;}
.context li { padding:5px 10px; border-bottom:solid 1px #d3d3d3; cursor:pointer; position:relative;}
.context li label { cursor:pointer;}
.context li:hover { background-color:lightyellow;}
.context li:hover>ul { display:block;}
.context li.rr { background-image:url(rr.gif); background-position:right center; background-repeat:no-repeat;}
.context li>ul { display:none; position:absolute; top:-1px; right:-112px;}

.cmenu { position:relative;}
.cmenu * { color:#333!important; text-align:left!important;}
.cmenu a { float:left;}
.cmenu a.dd { display:block; width:15px; height:19px; background-image:url(dd.gif); background-repeat:no-repeat; background-position:3px center; cursor:pointer;}
